.btn {
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    transition: 200ms ease-in-out;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
}

.btn:hover {
    background-color: rgb(60, 60, 60);
}

.btn-hollow {
    border: 4px rgb(60, 60, 60) solid;
}

.btn-primary {
    background-color: rgb(160, 0, 0);
    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    text-align: start; 
}

.btn-primary:hover {
    background-color: rgba(160, 0, 0, 0.5);
}