

/* workspaces */

.demo-workspaces h2 {
    margin: 1rem 0;
}

.demo-workspaces .title {
    margin-bottom: 1rem
}

.demo-workspaces .demo .boards {
    grid-area: boards;
}

.demo-workspaces .demo .lists {
    grid-area: lists;
}

.demo-workspaces .demo .cards {
    grid-area: cards;
}

.demo-workspaces .demo .demo-image{
    width: 100%;
    grid-area: demo-image;
}

.demo-workspaces .demo {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-areas: 
    "boards demo-image"
    "lists demo-image"
    "cards demo-image";
    gap: 1.5rem;
}

.demo-workspaces .demo-image > img {
    width: 100%;
}

.demo-workspaces .demo-workplace-buttons {
    padding: 1rem;
    transition: 300ms ease-in-out;
    border-radius: 0.5rem;
    cursor: pointer;
}

.demo-workspaces .demo-workplace-buttons:hover {
    background-color: rgb(40, 40, 40);
}

.selected {
    background-color: rgb(40 40 40);
    border-left: solid 0.5rem rgb(0, 199, 229);
}

@media screen and (max-width: 75rem) {
    .demo-workspaces .demo {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "demo-image demo-image demo-image"
        "boards lists cards";
        gap: 1rem;
    }
    .demo-workspaces .demo-image > img {
        width: 75%;
    }
}

@media screen and (max-width: 60rem) {
    .demo-workspaces .demo-image > img {
        width: 100%;
    }
}

@media screen and (max-width: 40rem) {
    .demo-workspaces .demo {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "demo-image"
        "boards"
        "lists"
        "cards";
        gap: 1rem;
    }
}

/* deadlines */

.demo-deadlines {
    background-color: rgb(40, 40, 40);
    padding: 0 3rem;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1.5rem;
    background: url("//images.ctfassets.net/rz1oowkt5gyp/7KgS3XVFhGu3TiclJKloEp/c10aad15fb171a6c245db9cb7910247d/ViewsBackground_Left_Narrow.svg") left center / contain no-repeat scroll padding-box border-box, url("//images.ctfassets.net/rz1oowkt5gyp/2HisRmboWIdXSYaaUSDzon/dadecff4be8a39bf2cf3cc537bd4d9c1/ViewsBackground_Right_Narrow.svg") right center / contain no-repeat scroll padding-box border-box, linear-gradient(240deg, rgb(0, 184, 217), rgb(0, 101, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(0, 101, 255)
}