/* fonts */

@font-face {
    font-family: PoppinsReg;
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: PoppinsMI;
    src: url('../assets/fonts/Poppins/Poppins-MediumItalic.ttf');
}

/* html elements */

*::before, *::after, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, ul, li {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* layout */

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
    font-family: PoppinsReg;
}

.layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.content {
    width: 100%;
    max-width: 1250px;
    padding: 0 3rem;
}

header {
    margin: 5rem 0;
}

header > * {
    margin: 0.5rem 0;
}

section {
    margin: 5rem 0;
}

@media screen and (max-width: 60rem) {
    .content {
        padding: 0 1rem;
    }
}


/* reusable classes */

.inline-block {
    display: inline-block;
}

    /* margin */

    .mx_05 {
        margin: 0 0.5rem;
    }

    .my_05 {
        margin: 0.5rem 0;
    }

    .my-1 {
        margin: 1rem 0;
    }

    /* padding */

    .p-1 {
        padding: 1rem;
    }

    /* grids */

    .grid-1-2 {
        display: grid;
        grid-template-columns: 0.25fr 0.75fr;
    }

    .grid-1-1-1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .g-1 {
        gap: 1rem;
    }

    @media screen and (max-width: 60rem) {
        .grid-1-2 {
            grid-template-columns: 0.2fr 0.8fr;
        }
        .grid-1-1-1 {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (max-width: 40rem) {
        .grid-1-2, .grid-1-1-1 {
            grid-template-columns: 1fr;
        }
    }

    /* flex */

    .flex {
        display: flex;
    }

    .center {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .left {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        text-align: start;
    }

    /* width */

    .w-100 {
        width: 100%;
    }

    .w-75 {
        width: 75%;
    }

    /* font sizes */

    .font-1 {font-size: 1rem;}
    .font-2_25 {font-size: 2.25rem;}

/* components */

.inline-link {
    cursor: pointer;
    color: rgb(0, 82, 204);
    text-decoration: underline;
    font-family: PoppinsMI;
    transition: 300ms ease-in-out;
}

.inline-link:hover {
    color: rgb(31, 105, 216);
}